In [24]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
pwd = os.getcwd()
pwd

'e:\\Hemant\\Data Science\\Portfolio Projects\\Netflix'

In [26]:
filepath = pwd + '\\netflix-report\\CONTENT_INTERACTION\\ViewingActivity.csv'
filepath

'e:\\Hemant\\Data Science\\Portfolio Projects\\Netflix\\netflix-report\\CONTENT_INTERACTION\\ViewingActivity.csv'

In [27]:
df = pd.read_csv(filepath)
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Kids,2020-05-10 10:05:12,00:00:05,Autoplayed: user action: None;,DreamWorks How to Train Your Dragon Legends: V...,HOOK,MStar PureTurnkey51 Skyworth OEM2K Smart TV,00:00:05,00:00:05,IN (India)
1,Kids,2020-04-12 09:00:28,01:16:56,NaN,How to Train Your Dragon,NaN,Chrome PC (Cadmium),01:30:35,01:30:35,IN (India)
2,Rattey,2021-04-19 11:10:06,00:38:26,NaN,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),00:40:47,00:40:47,IN (India)
3,Rattey,2021-04-19 08:43:26,00:00:51,NaN,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),00:01:01,00:01:01,IN (India)
4,Rattey,2021-04-19 08:42:06,00:01:17,Autoplayed: user action: User_Interaction;,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),00:29:20,00:29:20,IN (India)

In [28]:
df.shape

(9556, 10)

In [29]:
dataset_modified = df.copy() #roll back to df if dataset modified. 
dataset_modified.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Kids,2020-05-10 10:05:12,00:00:05,Autoplayed: user action: None;,DreamWorks How to Train Your Dragon Legends: V...,HOOK,MStar PureTurnkey51 Skyworth OEM2K Smart TV,00:00:05,00:00:05,IN (India)
1,Kids,2020-04-12 09:00:28,01:16:56,NaN,How to Train Your Dragon,NaN,Chrome PC (Cadmium),01:30:35,01:30:35,IN (India)
2,Rattey,2021-04-19 11:10:06,00:38:26,NaN,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),00:40:47,00:40:47,IN (India)
3,Rattey,2021-04-19 08:43:26,00:00:51,NaN,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),00:01:01,00:01:01,IN (India)
4,Rattey,2021-04-19 08:42:06,00:01:17,Autoplayed: user action: User_Interaction;,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),00:29:20,00:29:20,IN (India)

In [30]:
columns = list(dataset_modified.columns)
columns

['Profile Name',
 'Start Time',
 'Duration',
 'Attributes',
 'Title',
 'Supplemental Video Type',
 'Device Type',
 'Bookmark',
 'Latest Bookmark',
 'Country']

In [31]:
dataset_modified['Profile Name'].unique()

array(['Kids', 'Rattey', 'mehal', 'sejal'], dtype=object)

In [32]:
#Get only data for my viewing history
my_data = dataset_modified[dataset_modified['Profile Name'] == 'Rattey']
my_data.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
2,Rattey,2021-04-19 11:10:06,00:38:26,NaN,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),00:40:47,00:40:47,IN (India)
3,Rattey,2021-04-19 08:43:26,00:00:51,NaN,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),00:01:01,00:01:01,IN (India)
4,Rattey,2021-04-19 08:42:06,00:01:17,Autoplayed: user action: User_Interaction;,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),00:29:20,00:29:20,IN (India)
5,Rattey,2021-04-19 08:41:48,00:00:13,Autoplayed: user action: None;,Season 1 Direct Lift 1: Highlight Jamie Foxx/D...,HOOK,Chrome PC (Cadmium),00:00:13,00:00:13,IN (India)
6,Rattey,2021-04-15 15:57:06,00:00:11,Autoplayed: user action: None;,LOVEANDMONSTERS_CLIP_PLOT,HOOK,Chrome PC (Cadmium),00:00:11,00:00:11,IN (India)

In [33]:
my_data.reset_index(inplace= True)

In [34]:
my_data.head()

,index,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,2,Rattey,2021-04-19 11:10:06,00:38:26,NaN,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),00:40:47,00:40:47,IN (India)
1,3,Rattey,2021-04-19 08:43:26,00:00:51,NaN,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),00:01:01,00:01:01,IN (India)
2,4,Rattey,2021-04-19 08:42:06,00:01:17,Autoplayed: user action: User_Interaction;,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),00:29:20,00:29:20,IN (India)
3,5,Rattey,2021-04-19 08:41:48,00:00:13,Autoplayed: user action: None;,Season 1 Direct Lift 1: Highlight Jamie Foxx/D...,HOOK,Chrome PC (Cadmium),00:00:13,00:00:13,IN (India)
4,6,Rattey,2021-04-15 15:57:06,00:00:11,Autoplayed: user action: None;,LOVEANDMONSTERS_CLIP_PLOT,HOOK,Chrome PC (Cadmium),00:00:11,00:00:11,IN (India)

In [35]:
columns_to_drop = ['Country', 'Bookmark', 'Latest Bookmark', 'index', 'Attributes']

In [36]:
my_data = my_data.drop(columns = columns_to_drop)

In [37]:
my_data.head()

,Profile Name,Start Time,Duration,Title,Supplemental Video Type,Device Type
0,Rattey,2021-04-19 11:10:06,00:38:26,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium)
1,Rattey,2021-04-19 08:43:26,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium)
2,Rattey,2021-04-19 08:42:06,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium)
3,Rattey,2021-04-19 08:41:48,00:00:13,Season 1 Direct Lift 1: Highlight Jamie Foxx/D...,HOOK,Chrome PC (Cadmium)
4,Rattey,2021-04-15 15:57:06,00:00:11,LOVEANDMONSTERS_CLIP_PLOT,HOOK,Chrome PC (Cadmium)

In [38]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             883 non-null    object
 1   Start Time               883 non-null    object
 2   Duration                 883 non-null    object
 3   Title                    883 non-null    object
 4   Supplemental Video Type  384 non-null    object
 5   Device Type              883 non-null    object
dtypes: object(6)
memory usage: 41.5+ KB

In [39]:
my_data = my_data.rename(columns = {'Start Time':'Date'})

In [48]:
#Convert Start Time to datetime. Currently it is object
my_data['Date'] = pd.to_datetime(my_data['Date'])
# my_data['Date'] = my_data['Date'].dt.tz_localize('GMT').dt.tz_convert('Asia/Kolkata') #Convert from UTC to IST. 
my_data['Year'] = my_data['Date'].dt.year
my_data['Month'] = my_data['Date'].dt.month
my_data['day_of_week'] = my_data['Date'].dt.dayofweek
my_data['day_name'] = my_data['Date'].dt.day_name()

In [49]:
my_data.head()

,Profile Name,Date,Duration,Title,Supplemental Video Type,Device Type,Year,Month,day_of_week,day_name
0,Rattey,2021-04-19 16:40:06+05:30,00:38:26,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
1,Rattey,2021-04-19 14:13:26+05:30,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
2,Rattey,2021-04-19 14:12:06+05:30,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
3,Rattey,2021-04-19 14:11:48+05:30,00:00:13,Season 1 Direct Lift 1: Highlight Jamie Foxx/D...,HOOK,Chrome PC (Cadmium),2021,4,0,Monday
4,Rattey,2021-04-15 21:27:06+05:30,00:00:11,LOVEANDMONSTERS_CLIP_PLOT,HOOK,Chrome PC (Cadmium),2021,4,3,Thursday

In [50]:
my_data['Supplemental Video Type'].value_counts()

TRAILER           215
HOOK              159
BONUS_VIDEO         4
TEASER_TRAILER      4
PREVIEW             2
Name: Supplemental Video Type, dtype: int64

In [51]:
my_data = my_data[my_data['Supplemental Video Type'].isna()]

In [52]:
my_data.head()

,Profile Name,Date,Duration,Title,Supplemental Video Type,Device Type,Year,Month,day_of_week,day_name
0,Rattey,2021-04-19 16:40:06+05:30,00:38:26,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
1,Rattey,2021-04-19 14:13:26+05:30,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
2,Rattey,2021-04-19 14:12:06+05:30,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),2021,4,0,Monday
5,Rattey,2021-04-15 10:34:16+05:30,00:27:53,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Apple iPhone 7 Plus (GSM),2021,4,3,Thursday
7,Rattey,2021-04-09 22:04:08+05:30,01:37:39,Thunder Force,NaN,Apple iPhone 7 Plus (GSM),2021,4,4,Friday

In [67]:
# temp = my_data['Title'].str.split(':')[:5]

In [53]:
my_data[['TV Show', 'Season', 'Episode']] = my_data['Title'].str.split(':', expand = True, n = 2)

C:\Users\Hemant Rattey\anaconda3\envs\minimalds\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [54]:
my_data.head()

,Profile Name,Date,Duration,Title,Supplemental Video Type,Device Type,Year,Month,day_of_week,day_name,TV Show,Season,Episode
0,Rattey,2021-04-19 16:40:06+05:30,00:38:26,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Real Housewives of Beverly Hills,Season 1,"Life, Liberty and the Pursuit of Wealthiness ..."
1,Rattey,2021-04-19 14:13:26+05:30,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Fix,Season 1,Let's Fix Immigration (Episode 2)
2,Rattey,2021-04-19 14:12:06+05:30,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Fix,Season 1,Let's Fix Social Media (Episode 1)
5,Rattey,2021-04-15 10:34:16+05:30,00:27:53,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Apple iPhone 7 Plus (GSM),2021,4,3,Thursday,The Fix,Season 1,Let's Fix Social Media (Episode 1)
7,Rattey,2021-04-09 22:04:08+05:30,01:37:39,Thunder Force,NaN,Apple iPhone 7 Plus (GSM),2021,4,4,Friday,Thunder Force,None,None

In [55]:
my_data['Content Type'] = my_data['Season'].apply(lambda x : 'Movie' if x == None else 'TV Show')

<ipython-input-55-95c0464e7862>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['Content Type'] = my_data['Season'].apply(lambda x : 'Movie' if x == None else 'TV Show')

In [105]:
# my_data.drop(columns = ['Content Type', 'Attributes'], inplace=True)

In [56]:
my_data = my_data.rename(columns = {'Temp':'Content Type'})

In [57]:
my_data.head()

,Profile Name,Date,Duration,Title,Supplemental Video Type,Device Type,Year,Month,day_of_week,day_name,TV Show,Season,Episode,Content Type
0,Rattey,2021-04-19 16:40:06+05:30,00:38:26,The Real Housewives of Beverly Hills: Season 1...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Real Housewives of Beverly Hills,Season 1,"Life, Liberty and the Pursuit of Wealthiness ...",TV Show
1,Rattey,2021-04-19 14:13:26+05:30,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Fix,Season 1,Let's Fix Immigration (Episode 2),TV Show
2,Rattey,2021-04-19 14:12:06+05:30,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Chrome PC (Cadmium),2021,4,0,Monday,The Fix,Season 1,Let's Fix Social Media (Episode 1),TV Show
5,Rattey,2021-04-15 10:34:16+05:30,00:27:53,The Fix: Season 1: Let's Fix Social Media (Epi...,NaN,Apple iPhone 7 Plus (GSM),2021,4,3,Thursday,The Fix,Season 1,Let's Fix Social Media (Episode 1),TV Show
7,Rattey,2021-04-09 22:04:08+05:30,01:37:39,Thunder Force,NaN,Apple iPhone 7 Plus (GSM),2021,4,4,Friday,Thunder Force,None,None,Movie

In [58]:
my_data = my_data.drop(columns = 'Supplemental Video Type')

In [61]:
my_data['date_of_month'] = my_data['Date'].dt.day

In [63]:
my_data = my_data[['Profile Name', 'Date', 'date_of_month', 'day_of_week', 'day_name', 'Month', 'Year', 'Duration', 'Title', 'TV Show', 'Season', 'Episode', 'Content Type', 'Device Type']]

In [64]:
my_data.head()

,Profile Name,Date,date_of_month,day_of_week,day_name,Month,Year,Duration,Title,TV Show,Season,Episode,Content Type,Device Type
0,Rattey,2021-04-19 16:40:06+05:30,19,0,Monday,4,2021,00:38:26,The Real Housewives of Beverly Hills: Season 1...,The Real Housewives of Beverly Hills,Season 1,"Life, Liberty and the Pursuit of Wealthiness ...",TV Show,Chrome PC (Cadmium)
1,Rattey,2021-04-19 14:13:26+05:30,19,0,Monday,4,2021,00:00:51,The Fix: Season 1: Let's Fix Immigration (Epis...,The Fix,Season 1,Let's Fix Immigration (Episode 2),TV Show,Chrome PC (Cadmium)
2,Rattey,2021-04-19 14:12:06+05:30,19,0,Monday,4,2021,00:01:17,The Fix: Season 1: Let's Fix Social Media (Epi...,The Fix,Season 1,Let's Fix Social Media (Episode 1),TV Show,Chrome PC (Cadmium)
5,Rattey,2021-04-15 10:34:16+05:30,15,3,Thursday,4,2021,00:27:53,The Fix: Season 1: Let's Fix Social Media (Epi...,The Fix,Season 1,Let's Fix Social Media (Episode 1),TV Show,Apple iPhone 7 Plus (GSM)
7,Rattey,2021-04-09 22:04:08+05:30,9,4,Friday,4,2021,01:37:39,Thunder Force,Thunder Force,None,None,Movie,Apple iPhone 7 Plus (GSM)

In [65]:
my_data.to_csv('final_data.csv', index=False) #CHECKPOINT